.main{
    background-color: #e7e7e7;
    color: black;
}

h1{
text-align: center;
font-size: 10px;
font-weight: bold;
margin-top: -15px;
margin-bottom: -15px;
}
.head{
    
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    height: 120px;
    align-items: center;
}
.head_left_logo{
    flex: 0 0 40%; 
    text-align: left;
}
.head_midl_options{
    flex: 0 0 20%; 
    text-align: center;

    display: flex;
    
}
.head_right_login{
    flex: 0 0 40%; 
    text-align: right;
}
.block_holder{
    flex: 0 0 25.25%; 
    text-align: center;
}

.User_Interface{
    height: 125px;
    border-radius: 5px;
    border-style: solid;
    margin-left: 25px;
    margin-right: 25px;
    border-style: solid;
}

#username{
    width: 100%;
margin-left: 2%; 
font-size: x-large;
}

.User_stats {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.block_stats {
    width: 25%;
    height: 100%;
    border-radius: 5px;
    border-style: solid;
}

.box {

}

#status{
    color: green;
}

footer{
    position: fixed;
    bottom: 0;
    height: 50px;
    background-color: aqua;
    border: 2cm;
    width: 50%;
}